@media(min-width: 535px) and (max-width: 824px){ /*// se define minimo de ancho de pantalla y maximo de ancho de pantalla */
[class*='col-']{ /*yo quiero que tome todas las col y que se le aplique el estilo del 100% del ancho del contenido que estan en ellas*/
		width: 100%;
		
   }
   
.header{
  opacity:0.6;
  filter: alpha(opacity=20);

}
.titleImg{
    font-size: 250%;
   }
.about{
    margin-left: 2%;
  }
.img-1{
    width: 50%;
    }
.rock{
      margin-left: 50%;
    }
.saluteYou{
  margin-left: 2%;
    }
.title2{
 text-align: center;
}
.text2{
 margin-left: 0%;
}
.be{
 margin-left: 0%;
}
.title3{
  text-align: center;
}
.rock4{
  margin-left: 30%;
}

   }
   }
 
  


@media (min-width: 220px) and (max-width: 534px) {
	[class*='col-']{
		width: 100%;
	}
	.header{
  opacity:0.6;
  filter: alpha(opacity=20);
  width: 200%;

}
.titleImg{
    font-size: 20%;
   }
.about{
    margin-left: 2%;
  }
.img-1{
    width: 50%;
    }
.rock{
      margin-left: 50%;
    }
.saluteYou{
  margin-left: 2%;
    }
.title2{
 text-align: center;
}
.text2{
 margin-left: 0%;
}
.be{
 margin-left: 0%;
}
.title3{
  text-align: center;
}
.rock4{
  margin-left: 30%;
}

   }
   }
	